@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		rgb(var(--accent-light)) 30%,
		white 60%
	);
}
body {
	cursor: url(/cursors/pointer.svg), auto;
}
html {
	background: white;
	color: #002531;
	background-size: 224px;
}
* {
	box-sizing: border-box;
}
.cursor-pointer {
	cursor: url(/cursors/hand-finger.svg), auto;
}
.cursor-pointer:focus {
	cursor: url(/cursors/hand-click.svg), auto;
}
a,
button {
	@apply cursor-pointer;
}
